In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [2]:
gdansk = pd.read_csv(r"data\Gdansk_dzielnice.csv")
gdynia = pd.read_csv(r"data\Gdynia_dzielnice.csv")
sopot = pd.read_csv(r"data\Sopot_dzielnice.csv")

In [3]:
gdansk['Dzielnica'] = gdansk['Dzielnica_N']
gdansk.drop(columns=['Dzielnica_N', 'Dzielnica_Oryg'], inplace=True)
gdansk.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'], inplace=True)
gdynia.drop(columns=['Unnamed: 0'], inplace=True)

In [4]:
gdansk.head()

,Nazwa,Cena,Miasto,Pokoje,Stan nieruchomości,Pow. całkowita,Wysokość wnętrza,Piętro,Liczba pięter,Liczba sypialni,Typ kuchni,łazienka razem z WC,Balkon,Stolarka okienna,Depozyt za wynajem,Dodatkowe koszty,Rynek,Forma własności,Rodzaj umowy,Typ budynku,Data dodania,Aktualizacja,Numer ogłoszenia,Liczba odsłon,Liczba Punktów Podbić,Liczba łazienek,Pow. balkonu,Taras,Pow. loggii,Rok budowy,Stan budynku,Ogrzewanie,Dostępne od,Materiał budowlany,Liczba poziomów mieszkania,Pow. łazienki,Pow. tarasu,Pow. ogródka,Pow. użytkowa,Cena do negocjacji,Typ oferty,Inwestycja,Typ nieruchomości,Typ domu,Lokalizacja garażu,Pow. działki,Dzielnica
0,Opis nieruchomości,2 500 zł,Gdańsk,• 2 pokoje,Bardzo dobry,41 m²,255 cm,3,3,1.0,Aneks kuchenny - połączony z salonem,Tak,Tak,PCV,3000.0,500.0,Wtórny,Jeden właściciel,Na wyłączność,Blok,02.04.2024,19.04.2024,morizon-WST-MW-606-2,150,102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Najmu,NaN,NaN,NaN,NaN,NaN,Gdańsk
1,"PRZYTULNE 2 POK. SUPER LOKALIZACJA, OSIEDLE \'...",3 500 zł,Gdańsk,• 2 pokoje,NaN,40 m²,NaN,4,7,NaN,Półotwarta,NaN,Nie,NaN,NaN,NaN,Wtórny,Własność,NaN,NaN,18.04.2024,17.04.2024,morizon-IF04224,84,101,1.0,6 m²,Nie,6 m²,2021.0,Wysoki standard,C.o. miejskie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Najmu,NaN,NaN,NaN,NaN,NaN,Oliwa
2,APARTAMENT salon + 2 sypialnie CHMIELNA 73 WYN...,8 500 zł,Gdańsk,• 3 pokoje,Wysoki standard,75 m²,NaN,2,6,NaN,Aneks,Tak,Tak,NaN,NaN,NaN,Wtórny,NaN,NaN,Apartamentowiec,04.04.2024,04.04.2024,morizon-gratka-34171879,128,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05.04.2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Najmu,NaN,NaN,NaN,NaN,NaN,Śródmieście
3,Apartament salon + 2 sypialnie ul. Sadowa 25 W...,4 800 zł,Gdańsk,• 3 pokoje,Wysoki standard,"69,76 m²",NaN,1,4,NaN,Aneks,Nie,Tak,NaN,NaN,NaN,Wtórny,NaN,NaN,Apartamentowiec,23.02.2024,25.03.2024,morizon-gratka-33461237,493,100,NaN,NaN,NaN,NaN,2022.0,NaN,NaN,23.02.2024,Inny,NaN,NaN,NaN,NaN,NaN,NaN,Najmu,NaN,NaN,NaN,NaN,NaN,Śródmieście
4,"mieszkanie 3 pokojowe 64m.kw. Wiszące Ogrody, ...",3 200 zł,Gdańsk,• 3 pokoje,NaN,"63,70 m²",NaN,2,4,NaN,Aneks,Nie,Tak,NaN,NaN,NaN,Wtórny,NaN,NaN,Blok,15.04.2024,15.04.2024,morizon-gratka-34289265,99,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.04.2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Najmu,NaN,NaN,NaN,NaN,NaN,Jasień

In [5]:
sell_data = pd.concat([gdynia, gdansk, sopot], ignore_index=True)

In [6]:
sell_data.tail()

,Nazwa,Cena,Miasto,Dzielnica,Pokoje,Inwestycja,Pow. całkowita,Rynek,Rok budowy,Data dodania,Aktualizacja,Numer ogłoszenia,Liczba odsłon,Liczba Punktów Podbić,Piętro,Liczba pięter,Liczba poziomów mieszkania,Balkon,Typ budynku,Materiał budowlany,Ogrzewanie,Taras,Stan nieruchomości,Stolarka okienna,Typ kuchni,Liczba łazienek,łazienka razem z WC,Forma własności,Rodzaj umowy,Stan budynku,Wysokość wnętrza,Pow. łazienki,Pow. balkonu,Pow. loggii,Dostępne od,Cena do negocjacji,Liczba sypialni,Pow. użytkowa,Pow. tarasu,Pow. ogródka,Typ domu,Dodatkowe koszty,Lokalizacja garażu,Kominek,Typ nieruchomości,Typ oferty,Depozyt za wynajem,Okres wynajmu,Pow. działki,Urządzony ogród
5788,Apartament z dużym ogrodem w sercu Sopotu,2337500.0,Sopot,Górny Sopot,5,NaN,106.25,Pierwotny,2023.0,07.08.2023,30.11.2023,morizon-TC550387,307,0,3,3.0,1.0,NaN,Apartamentowiec,Silikat,Co Miejskie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sprzedaży,NaN,NaN,NaN,NaN
5789,Inwestycyjne 3 mieszkania w jednym Sopot koło UG,1649000.0,Sopot,Górny Sopot,5,NaN,93.1,Wtórny,1950.0,12.01.2022,14.05.2023,morizon-980811,2 657,0,2,3.0,NaN,Tak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Na wyłączność,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sprzedaży,NaN,NaN,NaN,NaN
5790,Dwa apaartamenty Sopot,2290000.0,Sopot,Karlikowo,3,NaN,74.0,Wtórny,NaN,09.11.2023,04.02.2024,morizon-DJ495680,186,0,3,3.0,1.0,NaN,Apartamentowiec,Pustak,Co Miejskie,Tak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09.11.2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sprzedaży,NaN,NaN,NaN,NaN
5791,Sopot DolnySopot GórnySopot Wyścigi,1500000.0,Sopot,Dolny Sopot,3,NaN,80.0,Wtórny,1900.0,01.12.2023,16.04.2024,morizon-SE0000,610,0,3,3.0,1.0,Tak,Kamienica,Cegła,NaN,Tak,NaN,NaN,Otwarta,1.0,Nie,Własność,NaN,Bardzo dobry,300 cm,4 m²,4 m²,4 m²,NaN,Tak,NaN,NaN,10 m²,100 m²,NaN,NaN,NaN,NaN,NaN,Sprzedaży,NaN,NaN,NaN,NaN
5792,Mieszkanie - Sopot,1880000.0,Sopot,Dolny Sopot,3,NaN,81.0,Wtórny,1910.0,21.11.2023,02.02.2024,morizon-HL0813,238,0,1,2.0,1.0,Nie,Kamienica,NaN,Gazowe,Nie,Bardzo dobry,NaN,Osobna,1.0,Nie,Własność,NaN,Bardzo dobry,NaN,NaN,NaN,NaN,NaN,Tak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sprzedaży,NaN,NaN,NaN,NaN

In [7]:
sell_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5793 entries, 0 to 5792
Data columns (total 50 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Nazwa                       5793 non-null   object
 1   Cena                        5793 non-null   object
 2   Miasto                      5793 non-null   object
 3   Dzielnica                   5766 non-null   object
 4   Pokoje                      5793 non-null   object
 5   Inwestycja                  604 non-null    object
 6   Pow. całkowita              5793 non-null   object
 7   Rynek                       5793 non-null   object
 8   Rok budowy                  5003 non-null   object
 9   Data dodania                5793 non-null   object
 10  Aktualizacja                5793 non-null   object
 11  Numer ogłoszenia            5793 non-null   object
 12  Liczba odsłon               5793 non-null   object
 13  Liczba Punktów Podbić       5793 non-null   int64
 14  Piętro                      5418 non-null   object
 15  Liczba pięter               5681 non-null   float64
 16  Liczba poziomów mieszkania  1154 non-null   float64
 17  Balkon                      3142 non-null   object
 18  Typ budynku                 3935 non-null   object
 19  Materiał budowlany          1938 non-null   object
 20  Ogrzewanie                  3831 non-null   object
 21  Taras                       1339 non-null   object
 22  Stan nieruchomości          885 non-null    object
 23  Stolarka okienna            140 non-null    object
 24  Typ kuchni                  1041 non-null   object
 25  Liczba łazienek             813 non-null    float64
 26  łazienka razem z WC         406 non-null    object
 27  Forma własności             987 non-null    object
 28  Rodzaj umowy                1787 non-null   object
 29  Stan budynku                417 non-null    object
 30  Wysokość wnętrza            299 non-null    object
 31  Pow. łazienki               89 non-null     object
 32  Pow. balkonu                170 non-null    object
 33  Pow. loggii                 36 non-null     object
 34  Dostępne od                 1408 non-null   object
 35  Cena do negocjacji          60 non-null     object
 36  Liczba sypialni             1984 non-null   float64
 37  Pow. użytkowa               239 non-null    object
 38  Pow. tarasu                 42 non-null     object
 39  Pow. ogródka                34 non-null     object
 40  Typ domu                    8 non-null      object
 41  Dodatkowe koszty            62 non-null     float64
 42  Lokalizacja garażu          3 non-null      object
 43  Kominek                     1 non-null      object
 44  Typ nieruchomości           16 non-null     object
 45  Typ oferty                  5793 non-null   object
 46  Depozyt za wynajem          30 non-null     float64
 47  Okres wynajmu               1 non-null      object
 48  Pow. działki                1 non-null      object
 49  Urządzony ogród             1 non-null      object
dtypes: float64(6), int64(1), object(43)
memory usage: 2.2+ MB

In [8]:
sell_data['Dzielnica'].unique()

array(['Cisowa', 'Redłowo', 'Orłowo', 'Śródmieście', 'Kamienna Góra',
       'Pogórze', 'Chylonia', 'Mały Kack',
       'Wzgórze Świętego Maksymiliana', 'Działki Leśne', 'Oksywie',
       'Pustki Cisowskie - Demptowo', 'Witomino Leśniczówka', 'Grabówek',
       'Chwarzno-Wiczlino', 'Dąbrowa', 'Karwiny', 'Obłuże', 'Wielki Kack',
       'Leszczynki', 'Witomino Radjostacja', 'Babie Doły', 'Gdańsk',
       'Oliwa', 'Jasień', 'Przymorze', 'Wrzeszcz', 'Chełm', 'Siedlce',
       'Letnica', 'Zaspa', 'Brzeźno', 'Piecki-Migowo', 'Aniołki',
       'Ujeścisko-Łostowice', 'Suchanino', 'Orunia', 'Brętowo',
       'Jelitkowo', 'Przeróbka', 'Żabianka', 'Strzyża', 'Osowa',
       'Kokoszki', 'Szadółki', 'Krakowiec-Górki Zachodnie', nan,
       'Zakoniczyn', 'Rudniki', 'Matarnia', 'Wyspa Sobieszewska',
       'VII Dwór', 'Nowy Port', 'Olszynka', 'Kowale', 'Stogi', 'Młyniska',
       'Dolny Sopot', 'Wyścigi', 'Górny Sopot', 'Świemirowo',
       'Kamienny Potok', 'Brodwino', 'Karlikowo', 'Przylesie', 'Morena, ',
       'Dolny sopot'], dtype=object)

In [9]:
sell_data = sell_data.drop(sell_data[sell_data["Dzielnica"]=="Gdańsk"].index)

In [10]:
sell_data['Piętro'].unique()

array([nan, 3.0, 1.0, 2.0, 5.0, 6.0, 4.0, 13.0, 23.0, 14.0, 7.0, 10.0,
       8.0, 9.0, 21.0, 15.0, 17.0, 27.0, 11.0, 20.0, '4', '2', '1', '3',
       '9', '5', '6', 'Suterena', '7', '10', '8', '17', '16', '14', '13',
       '15', '12', '11', '18'], dtype=object)

In [11]:
sell_data['Liczba łazienek'].unique()

array([nan,  2.,  1.,  5.,  3.,  4.])

In [12]:
sell_data['Liczba poziomów mieszkania'].unique()

array([nan,  1.,  2.,  3.,  5.,  4.])

In [13]:
sell_data[sell_data['Liczba poziomów mieszkania']==5]

,Nazwa,Cena,Miasto,Dzielnica,Pokoje,Inwestycja,Pow. całkowita,Rynek,Rok budowy,Data dodania,Aktualizacja,Numer ogłoszenia,Liczba odsłon,Liczba Punktów Podbić,Piętro,Liczba pięter,Liczba poziomów mieszkania,Balkon,Typ budynku,Materiał budowlany,Ogrzewanie,Taras,Stan nieruchomości,Stolarka okienna,Typ kuchni,Liczba łazienek,łazienka razem z WC,Forma własności,Rodzaj umowy,Stan budynku,Wysokość wnętrza,Pow. łazienki,Pow. balkonu,Pow. loggii,Dostępne od,Cena do negocjacji,Liczba sypialni,Pow. użytkowa,Pow. tarasu,Pow. ogródka,Typ domu,Dodatkowe koszty,Lokalizacja garażu,Kominek,Typ nieruchomości,Typ oferty,Depozyt za wynajem,Okres wynajmu,Pow. działki,Urządzony ogród
1070,Mieszkanie inne niż wszystkie,538 654 zł,Gdynia,Dąbrowa,• 2 pokoje,NaN,"42,32 m²",Pierwotny,2025,25.02.2024,25.03.2024,morizon-64,36,0,3.0,5.0,5.0,Tak,Blok,Zróżnicowany,Miejskie,NaN,Bardzo dobry,NaN,Aneks,1.0,Tak,Własność,NaN,Do wykończenia,260 cm,"4,62 m²","5,33 m²",NaN,30.06.2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Najmu,NaN,NaN,NaN,NaN
2101,"Sprzedam słoneczne 3 pokojowe mieszkanie, z ga...",700 000 zł,Gdańsk,Orunia,• 3 pokoje,NaN,"57,46 m²",Wtórny,2018.0,14.03.2024,15.04.2024,morizon-1538440364,627,25,1,4.0,5.0,Tak,Blok,NaN,Miejskie,Nie,Bardzo dobry,NaN,Aneks,NaN,Tak,Własność,NaN,NaN,NaN,NaN,NaN,NaN,Lipiec 2024,Tak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sprzedaży,NaN,NaN,NaN,NaN

In [14]:
sell_data["Cena"].str[-3:].unique()

array([' zł', 'ano', '0 €', nan], dtype=object)

In [15]:
sell_data["Liczba łazienek"].unique()

array([nan,  2.,  1.,  5.,  3.,  4.])

In [16]:
sell_data.loc[sell_data["Cena"].str[-1] == "€", ["Cena"]] = pd.to_numeric(sell_data[sell_data["Cena"].str[-1] == "€"]["Cena"].str.replace("€","").str.replace(" ", ""))*4.3
sell_data.loc[sell_data["Cena"].str[-3:] == "USD", ["Cena"]] = pd.to_numeric(sell_data[sell_data["Cena"].str[-3:] == "USD"]["Cena"].str.replace("USD","").str.replace(" ", ""))*4

In [17]:
sell_data = sell_data.drop(sell_data[sell_data["Cena"]=="Zarezerwowano"].index)
sell_data["Cena"] = sell_data["Cena"].astype(str).str.replace("zł","").str.replace(" ", "")
sell_data["Cena"] = pd.to_numeric(sell_data["Cena"])

In [18]:
sell_data["Miasto"] = sell_data["Miasto"].str.replace(",","")

In [19]:
sell_data["Pokoje"] = sell_data["Pokoje"].str.replace("• ","")
sell_data["Pokoje"] = sell_data["Pokoje"].str.replace(" pokoje","")
sell_data["Pokoje"] = sell_data["Pokoje"].str.replace(" pokoi","")

In [20]:
sell_data["Pokoje"] = sell_data["Pokoje"].str.replace(" pokoi","")

In [21]:
sell_data["Pow. całkowita"] = sell_data["Pow. całkowita"].str[:-3]
sell_data["Pow. całkowita"] = sell_data["Pow. całkowita"].str.replace(",",".")
sell_data["Pow. całkowita"] = pd.to_numeric(sell_data["Pow. całkowita"])

In [22]:
sell_data['Piętro'] = sell_data['Piętro'].fillna(sell_data['Piętro'].value_counts().index[0])
sell_data['Liczba pięter'] = sell_data['Liczba pięter'].fillna(sell_data['Liczba pięter'].value_counts().index[0])

In [23]:
sell_data.head()

,Nazwa,Cena,Miasto,Dzielnica,Pokoje,Inwestycja,Pow. całkowita,Rynek,Rok budowy,Data dodania,Aktualizacja,Numer ogłoszenia,Liczba odsłon,Liczba Punktów Podbić,Piętro,Liczba pięter,Liczba poziomów mieszkania,Balkon,Typ budynku,Materiał budowlany,Ogrzewanie,Taras,Stan nieruchomości,Stolarka okienna,Typ kuchni,Liczba łazienek,łazienka razem z WC,Forma własności,Rodzaj umowy,Stan budynku,Wysokość wnętrza,Pow. łazienki,Pow. balkonu,Pow. loggii,Dostępne od,Cena do negocjacji,Liczba sypialni,Pow. użytkowa,Pow. tarasu,Pow. ogródka,Typ domu,Dodatkowe koszty,Lokalizacja garażu,Kominek,Typ nieruchomości,Typ oferty,Depozyt za wynajem,Okres wynajmu,Pow. działki,Urządzony ogród
0,Opis nieruchomości,518569.0,Gdynia,Cisowa,2,ZBOŻOWA,40.72,Pierwotny,2025,01.03.2024,22.04.2024,morizon-67-67.41,635,36,1,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Najmu,NaN,NaN,NaN,NaN
1,Opis nieruchomości,518569.0,Gdynia,Cisowa,2,ZBOŻOWA,40.72,Pierwotny,2025,01.03.2024,22.04.2024,morizon-67-67.41,635,36,1,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Najmu,NaN,NaN,NaN,NaN
2,Opis nieruchomości,518569.0,Gdynia,Cisowa,2,ZBOŻOWA,40.72,Pierwotny,2025,01.03.2024,22.04.2024,morizon-67-67.41,635,36,1,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Najmu,NaN,NaN,NaN,NaN
3,Opis nieruchomości,518569.0,Gdynia,Cisowa,2,ZBOŻOWA,40.72,Pierwotny,2025,01.03.2024,22.04.2024,morizon-67-67.41,635,36,1,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Najmu,NaN,NaN,NaN,NaN
4,Opis nieruchomości,518569.0,Gdynia,Cisowa,2,ZBOŻOWA,40.72,Pierwotny,2025,01.03.2024,22.04.2024,morizon-67-67.41,635,36,1,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Najmu,NaN,NaN,NaN,NaN

In [24]:
sell_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5713 entries, 0 to 5792
Data columns (total 50 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Nazwa                       5713 non-null   object
 1   Cena                        5713 non-null   float64
 2   Miasto                      5713 non-null   object
 3   Dzielnica                   5686 non-null   object
 4   Pokoje                      5297 non-null   object
 5   Inwestycja                  584 non-null    object
 6   Pow. całkowita              5297 non-null   float64
 7   Rynek                       5713 non-null   object
 8   Rok budowy                  4941 non-null   object
 9   Data dodania                5713 non-null   object
 10  Aktualizacja                5713 non-null   object
 11  Numer ogłoszenia            5713 non-null   object
 12  Liczba odsłon               5713 non-null   object
 13  Liczba Punktów Podbić       5713 non-null   int64
 14  Piętro                      5713 non-null   object
 15  Liczba pięter               5713 non-null   float64
 16  Liczba poziomów mieszkania  1152 non-null   float64
 17  Balkon                      3098 non-null   object
 18  Typ budynku                 3902 non-null   object
 19  Materiał budowlany          1918 non-null   object
 20  Ogrzewanie                  3801 non-null   object
 21  Taras                       1322 non-null   object
 22  Stan nieruchomości          834 non-null    object
 23  Stolarka okienna            118 non-null    object
 24  Typ kuchni                  1012 non-null   object
 25  Liczba łazienek             788 non-null    float64
 26  łazienka razem z WC         391 non-null    object
 27  Forma własności             956 non-null    object
 28  Rodzaj umowy                1774 non-null   object
 29  Stan budynku                408 non-null    object
 30  Wysokość wnętrza            287 non-null    object
 31  Pow. łazienki               87 non-null     object
 32  Pow. balkonu                160 non-null    object
 33  Pow. loggii                 36 non-null     object
 34  Dostępne od                 1407 non-null   object
 35  Cena do negocjacji          60 non-null     object
 36  Liczba sypialni             1957 non-null   float64
 37  Pow. użytkowa               239 non-null    object
 38  Pow. tarasu                 42 non-null     object
 39  Pow. ogródka                34 non-null     object
 40  Typ domu                    8 non-null      object
 41  Dodatkowe koszty            35 non-null     float64
 42  Lokalizacja garażu          3 non-null      object
 43  Kominek                     1 non-null      object
 44  Typ nieruchomości           4 non-null      object
 45  Typ oferty                  5713 non-null   object
 46  Depozyt za wynajem          25 non-null     float64
 47  Okres wynajmu               1 non-null      object
 48  Pow. działki                1 non-null      object
 49  Urządzony ogród             1 non-null      object
dtypes: float64(8), int64(1), object(41)
memory usage: 2.2+ MB

In [25]:
sell_data.dropna(subset = ['Pokoje', 'Pow. całkowita', 'Dzielnica'], inplace=True)

In [26]:
sell_data.loc[sell_data['Taras'] == 'Tak', 'Balkon'] = 'Tak'
sell_data.loc[sell_data['Pow. balkonu'].notna(), 'Balkon'] = 'Tak'
sell_data.loc[sell_data['Pow. loggii'].notna(), 'Balkon'] = 'Tak'
sell_data.loc[sell_data['Pow. tarasu'].notna(), 'Balkon'] = 'Tak'
sell_data.loc[sell_data['Pow. tarasu'].notna(), 'Balkon'] = 'Tak'

sell_data['Balkon'].fillna('Nie', inplace=True)

In [27]:
data_cleaned = sell_data[['Cena', 'Miasto', 'Dzielnica', 'Pokoje', 'Pow. całkowita', 'Rynek', 'Rok budowy', 'Piętro', 'Liczba pięter', 'Balkon', 'Typ oferty']]

In [33]:
data_cleaned["Cena/m2"] = round(data_cleaned["Cena"]/data_cleaned["Pow. całkowita"], 2)

In [34]:
data_cleaned = data_cleaned.dropna()

In [36]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4570 entries, 0 to 5376
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Cena            4570 non-null   float64
 1   Miasto          4570 non-null   object
 2   Dzielnica       4570 non-null   object
 3   Pokoje          4570 non-null   object
 4   Pow. całkowita  4570 non-null   float64
 5   Rynek           4570 non-null   object
 6   Rok budowy      4570 non-null   object
 7   Piętro          4570 non-null   object
 8   Liczba pięter   4570 non-null   float64
 9   Balkon          4570 non-null   object
 10  Typ oferty      4570 non-null   object
 11  Cena/m2         4570 non-null   float64
dtypes: float64(4), object(8)
memory usage: 464.1+ KB

In [38]:
data_cleaned['Pokoje'].unique()

array([' 2', ' 5', ' 3', ' 4', ' 8', ' 6', ' 1 pokój', '  52 m² ', ' 10',
       ' 7', '  45 m² ', '  47 m² ', ' 9', ' 13'], dtype=object)

In [37]:
data_cleaned['Pokoje'] = data_cleaned['Pokoje'].astype(int)

ValueError: invalid literal for int() with base 10: ' 1 pokój'

In [35]:
# only temporary, for initial analysis
data_cleaned.to_csv(r"data\data_cleaned.csv", index=False)